[6:44 PM, 8/25/2022] Sheenam Di: {% include "header.html" %}
    <!-- main hero section -->

    <!-- CSS CUSTOM -->


<!-- <html>

    <head>

        {% load static %}
       <link rel="stylesheet" href="{% static 'style.css'%}">
       <link rel="stylesheet" href="{% static 'style1.css'%}">
       <link rel="stylesheet" href="{% static 'style2.css'%}">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

    </head>

    <body> -->
    <header class="header2">
     <div class="container-field w-banner">
         <div class="container">
             <div class="col-12 text-center">
                 <div class="js-top">
                     <h1>Career Assessments</h1>
                     <p class="js-p1">
                         "Career Assess…
[6:47 PM, 8/25/2022] Sheenam Di: @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    font-family:
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}



/* styling for swippper.js */


      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;


        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .header2 .js-top{
        height: 100%;
      }

/* problem statement stylling section  */

.header2 {
     position: relative;
    height: 45vh;

    background: linear-gradient(rgba(34, 73, 191, 0.4), rgba(34, 73, 1913, 0.4)), url('/img/2.jpg');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -17.4vh;
}

.w-banner {
    color: whitesmoke;
    text-align: center;
    /* margin-top: 10.5rem; */
}

.js-top {
    position: absolute;
    text-align: center;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.js-top h1 {
    font-size: 4rem;
    margin-bottom: 4rem;
    margin-top: 6rem;
    font-family: 'Open Sans', sans-serif;
}

.js-p1 {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 2rem;
}

.js-p2 {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
}

span {
    margin-top: 2rem;
    font-weight: 400;
    color: rgb(255, 217, 0);
    margin-bottom: 2rem;
}

.js-p3 a {
    text-decoration-line: none;
    font-size: 2.5rem;
    color: whitesmoke;
}

#second {
    text-align: center;
    font-size: 2rem;
    word-spacing: 2px;
    background-color: rgb(227, 227, 227);
}

#second .container-field {
    height: 40%;
    padding-top: 3rem;
}

#second .container-field h1 {
    color: rgb(69, 118, 239);
}

.row {
    padding: 3rem;
}

.row a {
    display: flex;
    display: inline;
    flex-direction: row;
    text-decoration: none;
    border: 1px solid rgb(249, 49, 49);
    padding: 7px;
    background-color: rgb(249, 49, 49);
    color: whitesmoke;
    font-size: 1.5rem;
    margin-left: 4rem;
}

/* section second styling  */

#second {
    text-align: center;
    font-size: 2rem;
    word-spacing: 2px;
    background-color: rgb(227, 227, 227);
}

#second .container-field {
    height: 40%;
    padding-top: 3rem;
}

#second .container-field h1 {
    color: rgb(69, 118, 239);
}

.row {
    padding: 3rem;
}

.row a {
    display: flex;
    display: inline;
    flex-direction: row;
    text-decoration: none;
    border: 1px solid #f93131;
    padding: 7px;
    background-color: #f93131;
    color: whitesmoke;
    font-size: 1.5rem;
    margin-left: 4rem;
}

form {
    justify-content: space-evenly;
}

form .a1 {
    border: 1px solid rgb(69, 118, 239);
    background-color: rgb(69, 118, 239);
}

.roww {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 7rem;
    margin-bottom: 3rem;
}


/* styling of card file */
.cards {
    width: 23%;
    height: 65vh!important;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(223, 223, 223);
    padding: 1rem;

}

.card-file-heading h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 4rem;
    border-bottom: 3px solid black;
    padding-bottom: 1rem;
}

.image img {
    width: 100%;
    border-radius: 5px;
    position: sticky;
}

.title {
    text-align: center;
    margin-top: 0.5rem;
    padding: 1.5rem;
    font-size: 1.1rem;
}

.dis {
    text-align: center;
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: sticky;
}

.dis p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

.dis a {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: green;
    text-decoration: none;
    border: 1px solid rgb(69, 118, 239);
    background-color: rgb(69, 118, 239);
    padding: 0.7rem;
    color: whitesmoke;
    font-size: 1.5rem;
}


 /* about us styling */


 #about {
    padding: 30px 0;
}

.aboutus {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    margin: 50px;
}

.h h2 {
    font-size: 3rem;
    color: rgb(69, 118, 239);
    padding-bottom: 4rem;
    text-align: left;
}

.aboutus p {
    font-size: 2rem;
    color: #333333;
    margin-bottom: 5rem;
}

.aboutus .img {
    flex: 1 1 200px;
    padding: 30px;
    transform: translatex(150%);
    animation: img-animation 1.5s ease-in-out forwards;
}

@keyframes img-animation {
    100% {
        transform: translate(0%);
    }
}

.aboutus .h {
    flex: 1 1 200px;
    padding: 30px;
    margin: auto;
    transform: translatex(-150%);
    animation: text-animation 1.5s ease-in-out forwards;
}

@keyframes text-animation {
    100% {
        transform: translate(0%);
    }
}

.img img {
    display: block;
    height: 400px;
    width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
    box-shadow: 2px 2px 10px rgb(223, 223, 223);
    scrollbar-darkshadow-color: aqua;
}

.imagee img {
    display: block;
    height: 250px;
    width: 100%;
    max-width: 90%;
    margin-top: auto;
    object-fit: cover;
    object-position: center;
    box-shadow: 2px 2px 10px rgb(223, 223, 223);
    scrollbar-darkshadow-color: aqua;
    border: 0.5px solid #b2b2b2;
    border-radius: 5px;
    padding: 2px;
}

.h a.a1 {
    text-decoration: none;
    border: 1px solid rgb(249, 49, 49);
    padding: 7px;
    background-color: rgb(249, 49, 49);
    color: whitesmoke;
    font-size: 1.5rem;
    margin-left: 10rem;
    margin-top: 3rem;
}

#button {
    margin-left: 15rem;
}

#button2 {
    margin-left: 15rem;
}

.hi h2 {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    color: rgb(35, 37, 41);
}

.hi p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

/*
featuring styling */


.feature {
    width: 30%;
    height: 50vh;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
}

.featurei {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10rem;
}

.text-content h1 {
    font-size: 2.3rem;
    font-weight: 600;
    padding-bottom: 4rem;
}

.text-content p {
    font-size: 1.8rem;
}

.text-content {
    margin-bottom: 4rem;
}

/* faq styling  */

main {
    max-width: 800px;
    margin: 5vh auto;
    padding: 20px;
}

main h1 {
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 40px;
    color: #707070;
    text-align: center;
}

main h2 {
    font-size: 1.1em;
    font-weight: 400;
    color: #5e5d5d;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.faq {
    padding: 20px 30px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    color: #979797;
    position: relative;
    line-height: 1.5em;
    margin-top: 15px;
}

.faq p {
    font-size: 1.3rem;
}

.faq .faq-text {
    width: 90%;
}

.button {
    color: #5e5d5d;
    position: absolute;
    right: 25px;
    top: 35px;
    font-weight: 400;
    font-size: 1.4em;
}

.faq h2 {
    color: #00848f;
    transition: 1s ease-in-out;
}

.faq p {
    display: none;
    transition: 1s ease-in-out;
}

.faq .button {
    color: #00848f;
}

.faq:hover p {
    display: block;
}



/* slideing styling section */
.swiper {
       width: 100%;
       height: 100%;
     }

     .swiper-slide {
       text-align: center;
       font-size: 18px;
       background: #fff;

       /* Center slide text vertically */
       display: -webkit-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-box-pack: center;
       -ms-flex-pack: center;
       -webkit-justify-content: center;
       justify-content: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       -webkit-align-items: center;
       align-items: center;
     }

     .swiper-slide img {
       display: block;
       width: 100%;
       height: 100%;
       object-fit: cover;
     }

/* prediction section styling */

.section-prediction .prediction {
    align-items: center;
}

.section-prediction .container p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.section-prediction .prediction-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-prediction .prediction-info h1 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2.3rem;
    margin-bottom: 3rem;
}

.section-prediction .prediction-info p {
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
}

.section-prediction .prediction-info button {
    margin-top: 1.5rem;
}

.section-prediction .prediction-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/* ebook section styling */

.section-ebook .e-book {
    margin-top: 3rem;
}

.section-ebook .e-book .ebook-img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.section-ebook .e-book .ebook-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-ebook .e-book .ebook-info h1 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.section-ebook .e-book .ebook-info ol li {
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
}


/*
navbar styling section */

/* ################################################# */

.header {
    padding: 0px 40px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.header .logo img {
    margin-left: 5rem;
    width: 6rem;
    height: 6rem;
}

.header .nav-list {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header .nav-list .nav-item {
    margin-left: 40px;
    text-decoration: none;
}

.header .nav-list .nav-item a {
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
}

.header .nav-list .nav-item a:hover {
    font-size: 1.7rem;
    font-weight: 500;
    color: darkblue;
    border-bottom: 2px solid black;
}

.header .navbar .nav-list .nav-item button {
    padding: 8px 8px;
    border-radius: 3px;
    background: rgb(249, 49, 49);
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.header .navbar .nav-list .nav-item button:hover {
    background: black;
    color: #fff;
}

.header .mobile-btn {
    display: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.mobile-btn-icon[name="close-outline"] {
    display: none;
}
@media(min-width:330px) and (max-width:765px){
  .cards{
    height: 100vh!important;
    object-fit: fill;
  }
}
@media(min-width:650px) and (max-width:765px){
  .cards{
    height: 100vh!important;
    object-fit: fill;
  }
}
@media(min-width:500px) and (max-width:650px){
  .cards{
    height: 85vh!important;
    object-fit: fill;
  }
}
@media(min-width:330px) and (max-width:500px){
  .cards{
    height: 75vh!important;
    object-fit: fill;
  }
}
@media(max-width:930px) {
    .header {
        position: relative;
    }
    .header .mobile-btn {
        display: block;
        z-index: 9999;
        border: 2px solid #000;
        color: #000;
    }
    .mobile-btn-icon {
        width: 2rem;
        height: 2rem;
    }
    .navbar {
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: #c3e6cb;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        opacity: 0;
        transition: all 0.5s linear;
        visibility: hidden;
        pointer-events: none;
        z-index: 9999;
    }
    .navbar .nav-list {
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-list .nav-item {
        font-size: 1.4rem;
        color: #000;
        text-decoration: none;
        margin-top: 1rem;
    }
    .active .navbar {
        transform: translateX(0);
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
    }
    .active .mobile-btn-icon[name="reorder-four-outline"] {
        display: none;
    }
    .active .mobile-btn-icon[name="close-outline"] {
        display: block;
    }

}


/*
********** */

.start_btn,
.info_box,
.quiz_box,
.result_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info_box.activeInfo,
.quiz_box.activeInfo,
.result_box.activeInfo {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button {
    font-size: 25px;
    font-weight: 500;
    padding: 15px 30px;
    border: 5px;
    border-radius: 5px;
    color: #007bff;
    cursor: pointer;
}

.info_box {
    background-color: #fff;
    width: 540px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.info_box .info_tittle {
    height: 60px;
    border-bottom: 1px solid lightgrey;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.info_box .info_list {
    padding: 15px 35px;
    font-size: 17px;
}

.info_box .info_list .info {
    margin: 5px 0;
}

.info_box .info_list .info span {
    color: #007bff;
    font-weight: 600;
}

.info_box .buttons {
    height: 60px;
    padding: 0 35px;
    display: flex;
    align-items: center;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button {
    margin: 5px;
    height: 40px;
    width: 100px;
    color: #fff;
    border: transparent;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.info_box .buttons .quit {
    color: #007bff;
    border: 1px solid #007bff;
    cursor: pointer;
}

.info_box .buttons .restart {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.info_box .buttons .quit:hover {
    background-color: #007bff;
    color: #fff;
}


/* quiz box styling */

.quiz_box {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    background-color: #fff;
    width: 550px;
    border-radius: 5px;
}

.quiz_box header {
    position: relative;
    z-index: 2;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .tittle {
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer {
    background: #cce5ff;
    color: #004085;
    height: 45px;
    width: 145px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #b8daff;
}

.quiz_box header .timer .time_text {
    font-size: 17px;
    font-weight: 400;
}

.quiz_box header .timer .timer_sec {
    background: #343a40;
    color: #fff;
    border-radius: 5px;
    width: 45px;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.quiz_box section {
    padding: 25px 30px 20px 30px;
    background: #fff;
}

.quiz_box section.que_text {
    font-size: 25px;
    font-weight: 600;
}

.quiz_box section.que_text span {
    font-size: 25px;
    font-weight: 600;
}

.quiz_box section .option_list {
    padding: 20px 0px;
    display: block;
}

.quiz_box section .option_list .option {
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

.quiz_box section .option_list .option:hover {
    color: #004085;
    background: #cce5ff;
    border: 1px solid #c3e6cb;
}

.quiz_box section .option_list .option .icon.tick {
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.quiz_box section .option_list .option .icon.cross {
    color: #a42834;
    border-color: #a42834;
    background: #d4edda;
}

.quiz_box section .option_list .option .disabled {
    pointer-events: none;
}

.quiz_box section .option_list .option .icon {
    border-radius: 50%;
    height: 26px;
    width: 26px;
    text-align: center;
    line-height: 24px;
    font-size: 13px;
    transition: all 0.3s ease;
}

.option_list .option .correct {
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .incorrect {
    color: #a42834;
    border-color: #a42834;
    background: #d4edda;
}

.option_list .option .disabled {
    pointer-events: none;
}

.quiz_box footer {
    height: 60px;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

.quiz_box footer .total_que span {
    display: flex;
}

.quiz_box footer .total_que span p {
    padding: 0 5px;
    font-weight: 500;
}

.quiz_box footer button {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    background: #007bff;
    color: #fff;
    border: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: 0.3 all ease;
}

.quiz_box footer button:hover {
    background: #0263ca;
}


/* result box styling section start here */

.result_box {
    width: 450px;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
}

.result_box .icon {
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result_box .complete_text {
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .buttons {
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button {
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.result_box .buttons .replay_quiz {
    color: #fff;
    background: #007bff;
}

.result_box .buttons .replay_quiz:hover {
    background: #0263ca;
}

.result_box .buttons .quit_quiz {
    color: #007bff;
    background: #fff;
}

.result_box .buttons .quit_quiz:hover {
    color: #fff;
    background: #007bff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --heading: rgb(0, 10, 40);
    --para: #777;
    --bg: rgb(249 249 255);
    --shadow: 0px 0px 20px 0px rgb(132 144 255 /20%);
    --gradient: linear-gradient(0deg, rgb(132 144 255)0%, rgb(98 189 252)100%);
}


/* common styling */

.container {
    max-width: 130rem;
}

.btn {
    background: var(--gradient);
    padding: 0.7rem 1rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    color: aliceblue;
    cursor: pointer;
    border-radius: 2px;
    display: inline-block;
}

.btn:hover {
    box-shadow: 0px 20px 20px 20px var(--shadow);
}

.common-heading {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 3rem;
}

.common-heading::before {
    content: "";
    top: 110%;
    left: 0;
    width: 1.2rem;
    height: 1.1rem;
    border-radius: 50%;
    position: absolute;
    background: var(--gradient);
}

.common-heading::after {
    content: "";
    background: var(--gradient);
    top: 130%;
    left: 1.2rem;
    position: absolute;
    min-width: 13rem;
    height: 0.2rem;
}

.section {
    padding: 4rem 4rem;
}

.grid {
    display: grid;
    gap: 5rem;
}

.grid-two-coloumn {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-coloumn {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-coloumn {
    grid-template-columns: repeat(4, 1fr);
}


/* styling hero section */


/* ******* */

.wrapper {
    display: inline-flex;
    margin-top: -2rem;
}

.static-text {
    font-size: 2rem;
    font-weight: 600;
    padding-top: 32px;
    font-family: sans-serif;
}

.dynamic-text {
    margin-left: 15px;
    line-height: 90px;
    overflow: hidden;
    height: 90px;
}

.dynamic-text li {
    position: relative;
    top: 0;
    list-style: none;
    font-size: 2rem;
    color: rgb(132,144,255);
    font-weight: 700;
    animation: slide 6s steps(4) infinite;
}

.dynamic-text li span {
    position: relative;
    color: rgb(132,144,255);
}

.dynamic-text li span::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-left: 2px solid rgb(132, 144, 255);
    animation: typing 1.5s steps(10) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0px 35px;
    }
}


/*
******* */


.section-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-img img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.section-data h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: 600;
}

.section-data p {
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 30rem;
}

.button {
    margin-top: 1.2rem;
}

.section-hero .section-img .mySwiper .swiper-wrapper  .swiper-slide img{
  height: 30%;
  weight:100%
}

/* styling bio data */

.bio-data .container p{
  font-size: 1.3rem;
}

.bio-img img {
    width: 80%;
}

.bio-data-stats {
    margin-top: 2rem;
    display: flex;
    margin-left: 2.1rem;
    flex-direction: column;
    gap: 2.3rem;
}

.bio-data-stats .bio-stats h3{
  color: rgb(132,144,255);
  font-size: 1.5rem;
}

.bio-data-stats .bio-stats .data-progress-bar span{
  color: rgb(98,189,252);
  font-size: 1.4rem;
}

.bio-stats span {}

.bio-data-stats .bio-stats .data-progress-bar {}


/* secrets styleing sections */

.container-secrets {
    background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
}


/* portfolio styling section */

.container p {
    max-width:100rem;
    text-align: left;
}

.p-btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
    transition: all 0.3s ease;
    margin: 3rem;
}

.p-btn:hover {
    transform: translateY(-0.8rem);
}

.img-overlay img {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.img-overlay {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient);
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-overlay:hover>.overlay {
    transform: translateY(0);
    opacity: 0.8;
}

.overlay a {
    margin: 0;
    text-decoration: none;
    color: white;
}


/*
animated counter section */

.section-body-data {
    background: var(--gradient);
    padding: 3rem 4rem;
}

.section-body-data div {
    justify-content: center;
}

.section-body-data .counter-numbers {
    color: white;
    font-weight: 800;
    font-size: 2.2rem;
    font-family: sans-serif;
}

.section-body-data p {
    font-size: 1.2rem;
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;
    margin-top: 1rem;
}


/* styling of services section */

.section-services .container {
    margin-bottom: 4rem;
}

.service-box {
    text-align: center;
    /* box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(132, 144, 255); */
    padding: 1.5rem 1.2rem;
    position: relative;
    transition: all 0.3s ease;
}

.service-box:hover {
    transform: translateY(-1rem);
}

.service-icon {
    position: relative;
    font-size: 1.5rem;
    padding: 2rem 2rem;
    display: inline-block;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    background-color: rgb(144, 172, 209);
    animation: water-wave 3s linear infinite;
}

.service-box h2 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

@keyframes water-wave {
    0% {
        border-radius: 50% 50% 33% 67% / 74% 23% 77% 26%;
    }
    50% {
        border-radius: 50% 50% 73% 27% / 53% 63% 37% 47%;
    }
    100% {
        border-radius: 50% 50% 75% 25% / 20% 77% 23% 80%;
    }
}


/* freelancing section styling  */

.freelancing-section {
    background-image: url("images/collage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    background: var(--gradient);
    opacity: 0.8rem;
}

.container-freelancing {
    text-align: center;
}

.container-freelancing h2 {
    text-transform: capitalize;
    font-size: 2rem;
    color: white;
    font-family: sans-serif;
}

.container-freelancing h2 span {
    color: greenyellow;
}

.container-freelancing p {
    margin-top: 1.2rem;
    margin-bottom: 1.3rem;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    text-transform: capitalize;
    color: var(--para);
}


/* contact section styling */



.contact-container {
    max-width: 40rem;
    margin: 0 auto;
}

.contact-container form {
    display: flex;
    margin-top: 6rem;
    flex-direction: column;
    gap: 2.3rem;
}

.contact-container input,
.contact-container textarea {
    padding: 0.6rem 0.9rem;
    width: 100%;
    font-size: 1rem;
    font-family: sans-serif;
}

.contact-container input[type="submit"] {
    width: 15%;
    border: none;
}


/* footer styling section */

.footer {
    max-width: 60rem;
    margin: 0 auto;
}

.link-container {
    text-align: center;
}

.footer-profile-links {
    margin: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.copyright {
    margin-bottom: 2rem;
    font-family: sans-serif;
    font-size: 1rem;
}

/* slider first views  */

.swiper1 {
        width: 100%;
        height: 100%;
      }

      .swiper1-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide1 img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

/* slider section styling  */
.swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
