<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style4.css'%}">
    <title>Document</title>
    <style media="screen">
    *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
.container{
  max-width: 950px;
  width: 90%;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
body{
  margin: 0px;
  padding: 0px;
}
#blog{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}
.blog-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blog-heading span{
  color: #f33c3c;
}
.blog-heading h3{
  font-size: 2.4rem;
  color: #2b2b2b;
  font-weight: 600;
}
.blog-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}
.blog-box{
  width: 950px;
  background-color: #ffffff;
  margin: 20px;
}
.blog-img{
  width: 100%;
  height: auto;
}
.blog-img img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}
.blog-text{
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
}
.blog-text span{
  color: #f33c3c;
  margin-top: 1rem;
  font-size: 0.9rem;
}
.blog-text .blog-title{
  font-size: 1.3rem;
  font-weight: 500;
  color: #272727;
}
.blog-text .blog-title:hover{
  color: #f33c3c;
  transition: all ease 0.3s;
}
.blog-text p{
  color: #9b9b9b;
  font-size: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
  border-left: 2px solid black;
  padding-left: 4px;
}
.blog-text a{
  color: #0f0f0f;
}
.blog-text a:hover{
  color: #f33c3c;
  transition: all ease 0.3s;
}
.blog-content-heading p{
  font-size: 1.4rem;
}
.blog-content-heading h2{
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
.blog-content-heading h1{
  font-size: 1.9rem;
  margin-bottom: 3rem;
}
.blog-content-heading li{
  font-size: 1.4rem;
}
.blog-content-heading ul{
  margin-left: 3rem;
}
.blog-content-heading ul li{
  margin-left: 3rem;
  list-style-type:circle ;
}
    </style>
</head>
<body>
    <section id="blog">
        <div class="blog-heading">
            <span>My Recent Posts</span>
            <h3>My Blog</h3>
        </div>

        <div class="blog-container">
            <div class="blog-box">
                <div class="blog-text">
                    <h1>What are the commerce subjects in class 11, 12</h1>
                        <span>nikhil jain - Wednesday 14th July 2021</span>
                        <p>Articles</p>
                </div>
                <div class="blog-img">
                  
                      <img src ="{% static 'images/problem.jpg' %}">
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="blog-content-heading container">
            <h2>Are you confused about choosing the commerce group  subjects in 11th class?</h2>
            <p>Well, dont worry.</p><br><br><br>
            <p>Here we are to drive you through the opportunities put forth for the next two years.</p><br><br>
            <p>Until your 10th grade, you have been studying a mixed combo of all the subjects. But now the time has come to choose your stream—the one that could decide your future.</p><br><br>
            <p>There are usually three groups available in 11th and 12th – Science (PCB , PCM OR PCMB), Commerce, and Humanities.</p><br><br>
            <p>The 11th standard is the most crucial year of your schooling. So, it is essential to make wise decisions.</p><br><br><br><br>
            <h2>Are you planning to choose the commerce stream in CBSE Class 11?</h2>
            <p>It is vital to know the subjects in Commerce in CBSE 11th and 12th before selecting the group.</p><br><br>
            <p>The primary stream in 11th and 12th decide your future career pathways. If you are looking for the CBSE Class 11 syllabus and subjects for commerce stream, you are on the right page. Come on, let us begin the discussion.</p><br><br><br><br>
            <h1>SUBJECTS OFFERED IN COMMERCE STREAM</h1>
            <p>The commerce stream strives to impart the basic knowledge of the economy, trade and commerce, and accounting. The subjects are segregated into four Compulsory subjects and five optional subjects in commerce.</p><br><br><br><br>
            <h2>COMPULSORY SUBJECTS</h2>
            <p>The following subjects are the main constituents of the CBSE class 11 syllabus in the commerce stream.</p><br><br><br>
            <ul>
                <li>Accountancy</li>
                <li>Business Studies</li>
                <li>Economics and</li>
                <li>English</li>
            </ul><br><br><br>
            <p>Let us discuss in detail each of them.</p><br><br><br>
            <ol>
                <li><h1>ACCOUNTANCY</h1></li>
                <p>Accountancy and Accounting the primary word around which organizations across the globe evolve. Any top company in any industry requires proper accounting to determine the financial results. The accounting stream imparts you the knowledge of basic accounting principles, preparing and deciphering the companies financial statements, and measuring the profitability of the organizations. Profit is the prime motive for all organizations. Accounting is the basis on which profitability is determined.</p><br>
                <p>The CBSE Class 11 syllabus is distinguished into two parts:</p><br><br>
                <p>A. <span>Financial Accounting 1 </span>– you learn about the accounting concepts, accounting terms, and the generally accepted accounting principles and the whole accounting process, including Journal and ledger entries, bank reconciliation statements, depreciation, accounting for bills of exchange, preparation of trial balance, and rectification of errors.</p><br><br><br>
                <p>B. <span>Financial Accounting II </span>You learn about the financial statements of the sole proprietorship and from incomplete records and computers in accounting.</p><br><br><br>
                <p>C. You also have a <span>project work</span>to be completed at the end of the year.</p><br><br><br>
                <p>An accounting career exists until commerce and trade live in the world. The career opportunities are enormous – You can pursue any professional courses, including Chartered Accountant, Cost Accountant, and Company secretary. You can also do a Bachelors and Masters of Commerce and choose to become an accountant of any organization.
                </p><br><br><br>
                <li><h1> BUSINESS STUDIES</h1></li>
                <p>The name of the subject is self-explanatory. As the name suggests, Business studies involve the study of business, commerce, and trade in the economy. You will learn about how companies are formed and evolved in the economy. You will also learn about the business environment and the factors that affect the business environment. This subject helps you to understand the world of business. If you are a student who dreams of being a businessman in the future, you need to know and understand the business world.</p><br>
                <p>The CBSE class 11 Syllabus tries to impart you the following knowledge:</p><br>
                <ul>
                    <li>Nature, purpose, and forms of business</li>
                    <li>Emerging modes of business</li>
                    <li>Internal Trade</li>
                    <li>International Business</li>
                </ul><br>
                <p>This subject helps you have a strong foundation for how businesses work regardless of the profession or industry you chose to work in. It also guides you to become an entrepreneur in the future.</p><br><br><br>
                <li><h1> ECONOMICS</h1></li>
                <p>Economics is a very intricate yet important subject among all the subjects in commerce in CBSE class 11 and 12. It gives you a complete insight into what an economy is and the essential need for reading it. It also provides an understanding of the functioning of both the national and international economy. Understanding the world economy helps you in various career options in the future.</p><br>
                <p>Though we have a little knowledge about economics from our 10th, the following 11th syllabus of Economics in class 11 gives us an entirely new outlook for the subject.</p><br>
                <ul>
                    <li>Statistics for economics – how to use statistical tools to study the changes in the economy.</li>
                    <li>Introductory Microeconomics</li>
                    <li>Project work to be completed at the end of the year.</li>
                </ul><br>
                <p>Economists, Investment consultants, and Actuarial scientists are a few of the career pathways that you could choose if economics interests you.</p><br><br><br>
                <li><h1>ENGLISH</h1></li>
                <p>English is a universal subject that exists irrespective of the group that you choose. You have studied the subject and basic grammar until your 10th standard, and this is not a new shoe to fit wrong. It is a global language, and you need to be very good at it. Once you are out of your school, the only language that will ensure your survival in the business or career environment is English. </p><br>
                <p>The CBSE class 11 syllabus for English covers the following:</p><br>
                <ul>
                    <li>Reading comprehension</li>
                    <li>Grammar</li>
                    <li>Listening, speaking, and writing skills</li>
                </ul><br>
                <p>As it is a universal language, you have prospective career pathways in Journalism, Media, teaching, and many more.</p><br><br><br>
                <h1>OPTIONAL SUBJECTS IN COMMERCE</h1>
                <li><h1>MATHEMATICS</h1></li>
                <p>Mathematics is not a new subject to us. We have evolved with maths since our childhood, and it continues. Everything around is based on a calculation, and mathematics is the basis for understanding the math of life. </p><br>
                <p>The CBSE class 11 syllabus for mathematics provides insights into the following topics:</p><br>
                <ul>
                    <li> Algebra</li>
                    <li>Calculus</li>
                    <li>Statistics & probability</li>
                    <li>Linear programming</li>
                </ul><br>
                <p>It is yet another universal subject and helps you easily qualify for major future courses, including Chartered Accountancy, MBA Finance, and other professional courses.</p><br><br><br>
                <li><h1>COMPUTER SCIENCE</h1></li>
                <p>Not everyone chooses commerce by interest. Some might have chosen it because of the low marks, making them ineligible to select the science group. If you are one such person who wants to take up computer science but missed choosing the PCC, dont worry. You can study the same syllabus of computer science in your commerce group</p><br>
                <p>The CBSE Class 11 syllabus for computer science offers you the following:</p><br>
                <ul>
                    <li>Basics of computers</li>
                    <li> Computing Logic</li>
                    <li>Programming languages</li>
                    <li>Concepts of networking </li>
                </ul><br>
                <p>You can confidently pursue computer applications as your future career path.</p><br><br><br>

                <li><h1>INFORMATICS PRACTICES</h1></li>
                <p>Informatics Practices is a subject that is in a similar line of computer science. In computer science, we study computers. In informatics practices, we learn about the information and its processing, looking beyond the computer applications.</p><br>
                <p>The CBSE class 11 syllabus for Informatics Practices guides you about the following:</p><br>
                <ul>
                    <li>Integrated device electronics</li>
                    <li>Develop simple device applications</li>
                    <li>Develop and debug computer programs</li>

                </ul><br>
                <p>This course would you in widening the knowledge about the computer information.</p><br><br><br>


                <li><h1> PSYCHOLOGY</h1></li>
                <p>Psychology is an exciting yet complex subject to study. It is the study of the mind, behavior, and mental processes of people.</p><br>
                <p>The CBSE class 11 Syllabus for Psychology imparts within you the following knowledge.</p><br>
                <ul>
                    <li> Basic concepts, principles, and methods in psychology</li>
                    <li>Improving the critical reasoning and analytical skills</li>
                </ul><br>
                <p>You can choose your career as a Psychologist or a counselor. Even if not, it helps you to understand people irrespective of the career you choose.</p><br><br><br>
            </ol>
            <h1>CONCLUSION</h1>
            <p>Commerce is a group that provides you with enormous career options based on your preference – from being an accountant to the countrys best economist. It is you who have to decide what you wanted to be. The world around us is becoming very competitive, and it is essential to plan your future carefully to sustain yourself in the race.</p><br><br>
            <p>Commerce is a group that provides you with enormous career options based on your preference – from being an accountant to the countrys best economist. It is you who have to decide what you wanted to be. The world around us is becoming very competitive, and it is essential to plan your future carefully to sustain yourself in the race.</p>
        </div>

    </section>
</body>
</html>
