<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <style media="screen">

    </style>
  </head>
  <body>

    <form action="{% url 'result' %}">

      Maths: <input type="text" required name="Maths"><br><br>
      English: <input type="text" required name="English"><br><br>
      SocialScience: <input type="text" required name="SocialScience"><br><br>
      Hindi: <input type="text" required name="Hindi"><br><br>
      Science: <input type="text" required name="Science"><br><br>
      Computer: <input type="text" required name="Computers(optional)"><br><br>

<br>
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
