{% include "header.html" %}
    <!-- main hero section -->

    <!-- CSS CUSTOM -->


<!-- <html>

    <head>

        {% load static %}
       <link rel="stylesheet" href="{% static 'style.css'%}">
       <link rel="stylesheet" href="{% static 'style1.css'%}">
       <link rel="stylesheet" href="{% static 'style2.css'%}">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

    </head>

    <body> -->

    <header class="header2">
     <div class="container-field w-banner">
         <div class="container">
             <div class="col-12 text-center">
                 <div class="js-top">
                     <h1>Career Assessments</h1>
                     <p class="js-p1">
                         "Career Assessment is most advanced and accurate online career test that will help to take informed career decisions. It is higest rated career assessment platform in India."
                     </p>
                     <p class="js-p2">
                         "Online career assessment is based on well-proven physchometic theories and Artificial Intelligence (AI)"
                     </p>

                 </div>
             </div>
         </div>
     </div>
 </header>



<div class="swiper mySwiper" >
    <div class="swiper-wrapper">
      <div class="swiper-slide">

     <section id="second"  style="padding:3rem 39rem; background:#fff;">
      <div class="container-field" >
          <h1>Computer Science Based Prediction</h1>
      </div>
      <div class="row">

              <a class="a1" href="/predict"  style="background:#F93131;">Stream Prediction Test</a>
          
      </div>
    </section>

      </div>
      <div class="swiper-slide">


     <section id="second" style="padding:3rem 35rem; background: #fff;">
      <div class="container-field">
          <h1>You can Predict Your Passion By Interest Details By Rating Your Self Out of 10.</h1>
      </div>
      <div class="row">
          <form method="post">


<a href="/about" class="btn" style="background:#F93131;"> Passion </a>




          </form>
      </div>
    </section>

      </div>
      <div class="swiper-slide">



     <section id="second" style="padding:3rem 35rem; background: #fff;">
      <div class="container-field">
          <h1>Your Can Boast Your Career By Reading Free Online Book</h1>
      </div>
      <div class="row">
          <form method="post">


              <a class="a1" href="/Ebooks"  style="background:#F93131;">E-book</a>

          </form>
      </div>
    </section>

      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
    <!-- portfolio section -->

    <section id="card-file" class="container">
         <div class="card-file-heading">
             <h1>Blogs</h1>
         </div>
         <div class="first-row roww">
             <div class="cards">
                 <div class="title">
                     <h1>Career Assessment for Professionals</h1>
                 </div>
                 <div class="image">
                     <!-- <img src="img/careerprofessional.jpg" alt=""> -->
                     <img src ="{% static 'images/careerprofessional.jpg' %}">
                 </div>
                 <div class="dis">
                     <p>
                         Find out most suitable career move for professionals
                     </p>
                     <a href="/final1">Read More</a>
                 </div>
             </div>
             <div class="cards">
                 <div class="title">
                     <h1>Career Assessment for Graduates</h1>
                 </div>
                 <div class="image">
                     <!-- <img src="img/graduation3.jpg" alt=""> -->
                      <img src ="{% static 'images/graduation3.jpg' %}">
                 </div>
                 <div class="dis">
                     <p>
                         Find out most suitable career road map for Graduates
                     </p>
                     <a href="/final2">Read More</a>
                 </div>
             </div>
             <div class="cards">
                 <div class="title">
                     <h1>Career Assessment for 11th & 12th Students</h1>
                 </div>
                 <div class="image">
                     <!-- < src="img/10th12th.jpg" alt=""> -->
                       <img src ="{% static 'images/10th12th.jpg' %}">
                 </div>
                 <div class="dis">
                     <p>
                         Find out the perfect career and educational Road Map
                     </p>
                     <a href="/final3">Read More</a>
                 </div>
             </div>
         </div>

         <div class="second-row roww">
             <div class="cards">
                 <div class="title">
                     <h1>Career Assessment for 8th, 9th and 10th Students</h1>
                 </div>
                 <div class="image">
                     <!-- <img src="img/8th9th.jpg" alt=""> -->
                      <img src ="{% static 'images/8th9th.jpg' %}">

                 </div>
                 <div class="dis">
                     <p>
                         Find out most suitable subjects and career after 10th
                     </p>
                     <a href="/final">Read More</a>
                 </div>
             </div>
             <div class="cards">
                 <div class="title">
                     <h1>Subjects selector Assessment</h1>
                 </div>
                 <div class="image">
                     <!-- <img src="img/schoolsubjects.jpg" alt=""> -->
                       <img src ="{% static 'images/schoolsubjects.jpg' %}">

                 </div>
                 <div class="dis">
                     <p>
                         Find out perfect subjects that is allign with career
                     </p>
                     <a href="/final2">Read More</a>
                 </div>
             </div>
             <div class="cards">
                 <div class="title">
                     <h1>Engineering Stream <br> Selector</h1>
                 </div>
                 <div class="image">
                     <!-- <img src="img/engineering.png" alt="" height="160vh"> -->
                       <img src ="{% static 'images/engineering.png' %}">

                 </div>
                 <div class="dis">
                     <p>
                         Find out most suitable engineering branch
                     </p>
                     <a href="/final1">Read More</a>
                 </div>
             </div>
         </div>

     </section>

<!-- about section -->
<section id="about">
      <div class="about-wrapper">
          <div class="aboutus aboutus1">
              <div class="img img1">
                 <!-- <img src="images/pexels-pixabay-416405.jpg" alt=""> -->
                <img src ="{% static 'images/pexels-pixabay-416405.jpg' %}">

              </div>
              <div class="h h1">
                  <h2>Career Prediction</h2>
                  <p>Choosing a career can help you select the right education and skills you need to obtain to support that career. Making careful and well-thought-out decisions regarding your career can increase your chance of success. Choosing the right career can take time and research. In this article, we explore in-depth what a career is, share different kinds of career paths, plus offer some tips to help you find the right career.
                  </p>
                  <a id="button" class="a1" href="homepage">Stream Prediction Test</a>
              </div>
          </div>
          <div class="aboutus aboutus2">
              <div class="h h2">
                  <h2>Ebooks Section</h2>
                  <p>Books are undeniably a blessing to humankind. And books being useful for us in many ways have earned the title of our best friend. Libraries are the storehouse of books of several genres where interested readers can spend time reading in silence or can borrow books by being a member of that library. Through this practice of reading, we humans also display a greater sense of being civilized.</p>
                  <a id="button2" class="a1" href="/Ebooks">Ebooks</a>
              </div>
              <div class="img img1">
                  <!-- <img src="img/graduation.jpg" alt=""> -->
                   <img src ="{% static 'images/graduation.jpg' %}">
              </div>
          </div>
          <div class="aboutus aboutus3">
              <div class="img img1">
                 <!-- <img src="images\pexels-perfecto-capucine-1475272.jpg" alt="ebookimage">  -->
                <img src ="{% static 'images/pexels-perfecto-capucine-1475272.jpg' %}">

              </div>
              <div class="h h3">
                  <h2>Psycology Test</h2>
                  <p>An aptitude test is an assessment used to determine a candidate’s cognitive ability or personality. They’re extremely common in job assessments as they can be used to predict the likelihood of a candidate’s success in a job role, whilst eliminating any bias through its standardised administration. You are likely to encounter them in selection for all job sectors; however, they will be specialised to cater for the specific job requirements of the role.</p>
                  <a class="a1" href="">Start Now</a>
              </div>
          </div>
      </div>
  </section>


  <!-- featureas section -->

  <section>
     <div class="featurei container">
         <div class="feature feature1">
             <div class="hi hi2">
                 <h2>Blogging</h2>
                 <p>Seniors can guide through blogging</p>
             </div>
             <div class="imagee image1">
                 <!-- <img src="img/blog.jpg" alt=""> -->
                  <img src ="{% static 'images/background4.jpg' %}">
             </div>
         </div>
         <div class="feature feature2">
             <div class="hi hi2">
                 <h2>E-Books</h2>
                 <p>Avail information to boost your career</p>
             </div>
             <div class="imagee image1">
                 <!-- <img src="img/ebook.jpg " alt=" "> -->
                  <img src ="{% static 'images/Ebook.png' %}">
             </div>
         </div>
         <div class="feature feature3 ">
             <div class="hi hi2 ">
                 <h2>Aptitude</h2>
                 <p>Get unlimited access to aptitude tests</p>
             </div>
             <div class="imagee image1 ">
                 <!-- <img src="img/Aptitu.png " alt=" "> -->
                  <img src ="{% static 'images/aptitude.jpg' %}">
             </div>
         </div>
     </div>
 </section>


    <section class="section section-body-data">
        <div class="container grid grid-four-coloumn">
            <div>
                <h2 class="counter-numbers" data-number="2000">+0</h2>
                <p>Compleated Projects</p>
            </div>
            <div>
                <h2 class="counter-numbers" data-number="6000">+0</h2>
                <p>Happy Client</p>
            </div>
            <div>
                <h2 class="counter-numbers" data-number="1000">+0</h2>
                <p>Pachied up with</p>
            </div>
            <div>
                <h2 class="counter-numbers" data-number="4000">+0</h2>
                <p>pending Projects</p>
            </div>
        </div>
    </section>

    <!-- services section area -->
    <section class="section section-services">
        <div class="container">
            <h2 class="common-heading">Services Section</h2>
        </div>
        <div class="container grid grid-three-coloumn">
            <div class="service-box">
                <div class="service-icon">
                    <ion-icon name="bar-chart-outline"></ion-icon>
                </div>
                <h2>Prediction Test</h2>
                <p>A web ui/ux experiecnce</p>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <ion-icon name="logo-javascript"></ion-icon>
                </div>
                <h2>Web desinging</h2>
                <p>A web ui/ux experiecnce</p>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <ion-icon name="terminal-outline"></ion-icon>
                </div>
                <h2>Apptitude Test</h2>
                <p>A web ui/ux experiecnce</p>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <ion-icon name="server-outline"></ion-icon>
                </div>
                <h2>Blogging Site</h2>
                <p>A web ui/ux experiecnce</p>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <ion-icon name="save-outline"></ion-icon>
                </div>
                <h2>E-Books</h2>
                <p>A web ui/ux experiecnce</p>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <ion-icon name="podium-outline"></ion-icon>
                </div>
                <h2>Web desinging</h2>
                <p>A web ui/ux experiecnce</p>
            </div>
        </div>
    </section>



    <!-- freelancing section   -->
    <section class="section freelancing-section" style=" background-image=url(images/careerprofessional.jpg)">
        <div class="overlay"></div>
        <div class="container-freelancing">
            <h2>I am Available for <span>Extra Curricular Activities</span></h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti architecto debitis suscipit nemo dignissimos enim animi unde assumenda fugit laboriosam excepturi at hic voluptates autem, sit aliquid ipsa nisi modi.</p>
            <a href="/about" class="btn">Submit</a>
        </div>
    </section>



    <!-- contact section  -->

    <section class="section section-contact">
        <div class="container">
            <h2 class="common-heading">Contact Me</h2>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30360.782773345545!2d79.50417275!3d17.97418415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a334e474833634f%3A0xbd0f9e85872a8eb3!2sKazipet%2C%20Telangana!5e0!3m2!1sen!2sin!4v1661372178561!5m2!1sen!2sin" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="contact-container">
            <form action="/">
                <div class="grid grid-two-coloumn">
                    <div>
                        <label for="username"></label>
                        <input type="text " id="username" placeholder="Username" required>
                    </div>
                    <div>
                        <label for="email"></label>
                        <input type="email" id="email" placeholder="Email" required>
                    </div>
                </div>
                <div>
                    <label for="subject"></label>
                    <input type="text" id="Subject" placeholder="Subject" required>
                </div>
                <div>
                    <label for="textarea"></label>
                    <textarea name="textarea" id="" cols="30" rows="10" placeholder="Message"></textarea>
                </div>
                <div>
                    <input type="submit" class="btn">
                </div>
            </form>
        </div>
    </section>
    <!-- Faq section -->

    </section>
    <main>
          <h1>Frequently Asked Questions</h1>
          <div class="faq open ">
              <div class="faq-text ">
                  <!--111111111111111 -->
                  <h2>How to Choose the career Assessment?</h2>
                  <p>We have different career assessments for different groups. It starts from 5th class to professionals. Candidate can select assessment based on your current stage. All the assessments are highly accuracy and reliabile.</p>
              </div>
          </div>
          <div class="faq ">
              <div class="faq-text ">
                  <!--22222222222222-->
                  <h2>What is five dimensional career assessment?</h2>
                  <p>Our career assessment explores the 5 dimensions of the candidate. It includes, Personality analysis, Career Interest analysis, Career motivators analysis, learning style analysis and Skills & Abilities analysis.</p>
              </div>
          </div>
          <div class="faq ">
              <div class="faq-text ">
                  <!--33333333333333-->
                  <h2>What is the difference between Free suitability and comprehensive Analysis?</h2>
                  <p>Both are 5 dimensional career assessment. In Free Suitability, candidate can get analysis of one career path of their choice with free 3 pages basic report. In Comprehensive plan, career analysis will be done across 160+ career paths and
                      2000+ Occupations to find out the best career path for you. Comprehensive 28+ pages career report with execution plan will help you to achieve career goals.</p>
              </div>
          </div>
          <div class="faq ">
              <div class="faq-text ">
                  <!--44444444444444-->
                  <h2>Once comprehensive report is activated, can I see analysis other career paths as well?</h2>
                  <p>Yes, very much. This is the biggest advantage every student is having. Once assessment is done student can generate unlimited comprehensive 28+ pages comprehensive reports of different career paths. It is important to know you most preferred
                      career paths but equally it is important to know about career paths that you should avoid or develop.</p>
              </div>
          </div>
          <div class="faq ">
              <div class="faq-text ">
                  <!--5555555555555555-->
                  <h2>Do I need to give assessment once again for comprehensive analysis?</h2>
                  <p>No, you do not need to give assessment again. Once assessment is done, you can upgrade any time. System will automatically analyze all career paths and generate comprehensive report. Our powerful Artificial intelligence engine will unlock
                      all the career path analysis.</p>
              </div>
          </div>
          <div class="faq ">
              <div class="faq-text ">
                  <!--666666666666666666-->
                  <h2>Can I get face to face counseling near me?</h2>
                  <p>Yes, definitely. We are having more than 1400+ empanelled career counselors across 48 + Locations. You can see their profiles, ratings, experience and book appointment online. No charges upfront.</p>
              </div>
          </div>
          <div class="faq ">
              <div class="faq-text ">
                  <!--7777777777-->
                  <h2>What are the charges for face to face career counselling.</h2>
                  <p>We provide counseling at most affordable price without compromising on quality. However it depends on location and years of experience. Charges start from as low as INR 2000</p>
              </div>
          </div>
          <div class="faq ">
              <div class="faq-text ">
                  <!--88888888888 -->
                  <h2>How can I make the payment?</h2>
                  <p>We do not charge upfront for career assessment. Post completion of the assessment, you will be connected with best career counselor near you. You can pay directly to your career counselor through cash or online payment.</p>
              </div>
          </div>
          <div class="faq ">
              <div class="faq-text ">
                  <!--9999999999999-->
                  <h2>What is the duration of the career assessment?</h2>
                  <p>Comprehensive career assessment takes around 45 minutes to complete.</p>
              </div>
          </div>

      </main>


      <script>
      window.watsonAssistantChatOptions = {
        integrationID: "7573cccf-46ac-46f7-a619-e264e076f4c2", // The ID of this integration.
        region: "eu-gb", // The region your integration is hosted in.
        serviceInstanceID: "bd1bc709-a6d2-4669-b3a6-9106c433c30b", // The ID of your service instance.
        onLoad: function(instance) { instance.render(); }
      };
      setTimeout(function(){
        const t=document.createElement('script');
        t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
        document.head.appendChild(t);
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        cssMode: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        autoplay:{
          delay:2500,
          disableOnInteraction:false
        },
        pagination: {
          el: ".swiper-pagination",
        },
        mousewheel: true,
        keyboard: true,
      });
    </script>





</body>


</html>


{% include "footer.html" %}
