<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7c9f996244.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style2.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Test</title>
    {% load static %}
       <link rel="stylesheet" href="{% static 'style.css'%}">
       <link rel="stylesheet" href="{% static 'style1.css'%}">
       <link rel="stylesheet" href="{% static 'style2.css'%}">
</head>

<body>
    <header class="header">
        <div class="container-field w-banner">
            <div class="container">
                <div class="col-12 text-center">
                    <div class="js-top">
                        <h1>Career Assessments</h1>
                        <p class="js-p1">
                            "Career Assessment is most advanced and accurate online career test that will help to take informed career decisions. It is higest rated career assessment platform in India."
                        </p>
                        <p class="js-p2">
                            "online career assessment is based on well-proven physchometic theories and Artificial Intelligence (AI)"
                        </p>
                        <span class="material-symbols-outlined">
                            star
                            </span>
                        <span class="material-symbols-outlined">
                                star
                                </span>
                        <span class="material-symbols-outlined">
                                    star
                                    </span>
                        <span class="material-symbols-outlined">
                                        star
                                        </span>
                        <span class="material-symbols-outlined">
                                            star_half
                                            </span>
                        <p class="js-p3">
                            <a class="bt1" href="">4.5 Rating Yahoo</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="second">
        <div class="container-field">
            <h1>8+ online career test from 4th class to professionals</h1>
        </div>
        <div class="row">
            <form method="post">
                <a class="a1" href="">Career Assessment - English</a>
                <a href="">Career Assessment - Hindi</a>
                <a href="">IB Assessment - International</a>
            </form>
        </div>
    </section>

    <section id="card-file" class="container">
        <div class="first-row roww">
            <div class="cards">
                <div class="title">
                    <h1>Career Assessment for Professionals</h1>
                </div>
                <div class="image">
                    <img src="img/careerprofessional.jpg" alt="">
                </div>
                <div class="dis">
                    <p>
                        Find out most suitable career move for professionals
                    </p>
                    <a href="">Assessment Test</a>
                </div>
            </div>
            <div class="cards">
                <div class="title">
                    <h1>Career Assessment for Graduates</h1>
                </div>
                <div class="image">
                    <img src="img/graduation3.jpg" alt="">
                </div>
                <div class="dis">
                    <p>
                        Find out most suitable career road map for Graduates
                    </p>
                    <a href="">Assessment Test</a>
                </div>
            </div>
            <div class="cards">
                <div class="title">
                    <h1>Career Assessment for 11th & 12th Students</h1>
                </div>
                <div class="image">
                    <img src="img/10th12th.jpg" alt="">
                </div>
                <div class="dis">
                    <p>
                        Find out the perfect career and educational Road Map
                    </p>
                    <a href="">Assessment Test</a>
                </div>
            </div>
        </div>

        <div class="second-row roww">
            <div class="cards">
                <div class="title">
                    <h1>Career Assessment for 8th, 9th and 10th Students</h1>
                </div>
                <div class="image">
                    <img src="img/8th9th.jpg" alt="">
                </div>
                <div class="dis">
                    <p>
                        Find out most suitable subjects and career after 10th
                    </p>
                    <a href="">Assessment Test</a>
                </div>
            </div>
            <div class="cards">
                <div class="title">
                    <h1>Subjects selector Assessment</h1>
                </div>
                <div class="image">
                    <img src="img/schoolsubjects.jpg" alt="">
                </div>
                <div class="dis">
                    <p>
                        Find out perfect subjects that is allign with career
                    </p>
                    <a href="">Assessment Test</a>
                </div>
            </div>
            <div class="cards">
                <div class="title">
                    <h1>Engineering Stream Selector</h1>
                </div>
                <div class="image">
                    <img src="img/engineering.png" alt="">
                </div>
                <div class="dis">
                    <p>
                        Find out most suitable engineering branch
                    </p>
                    <a href="">Assessment Test</a>
                </div>
            </div>
        </div>
        <div class="third-row roww">
            <div class="cards">
                <div class="title">
                    <h1>Multiple intelligence assessment for 5th -7th Class</h1>
                </div>
                <div class="image">
                    <img src="img/5th7th.jpg" alt="">
                </div>
                <div class="dis">
                    <p>
                        Find out where the intelligence lie
                    </p>
                    <a href="">Assessment Test</a>
                </div>
            </div>
            <div class="cards">
                <div class="title">
                    <h1>Learning Style Assessment</h1>
                </div>
                <div class="image">
                    <img src="img/learningstyle.jpg" alt="">
                </div>
                <div class="dis">
                    <p>
                        Find out your learning style
                    </p>
                    <a href="">Assessment Test</a>
                </div>
            </div>
            <div class="cards">
                <div class="title">
                    <h1>Personality Assessment</h1>
                </div>
                <div class="image">
                    <img src="img/Personality.jpg" alt="">
                </div>
                <div class="dis">
                    <p>
                        Find out your personality Type
                    </p>
                    <a href="">Assessment Test</a>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="about-wrapper">
            <div class="aboutus aboutus1">
                <div class="img img1">
                    <img src="img/login.jpg" alt="">
                </div>
                <div class="h h1">
                    <h2>5 Dimentional Career Assessment</h2>
                    <p>Edumilestones 5 dimensional career assessment test includes a detailed analysis of personality, interest, career motivators, learning style and abilities. Since 2008 it is considered as an industry benchmark. It is a highly accurate
                        and reliable assessment and based on well-proven psychometric theories. Career analysis is done among 20+ career clusters, 180+ career paths and 3000+ occupations. More than 3 Lac students are benefited and given 4.9 ratings to
                        it.
                    </p>
                </div>
            </div>
            <div class="aboutus aboutus2">
                <div class="h h2">
                    <h2>Comprehensive Career Report</h2>
                    <p>22+ pages comprehensive career report provides a clear recommendation of the most suitable career option. Career report is not only limited to find out the most suitable career option but also offer detailed education road map with
                        the execution plan</p>
                </div>
                <div class="img img1">
                    <img src="img/graduation.jpg" alt="">
                </div>
            </div>
            <div class="aboutus aboutus3">
                <div class="img img1">
                    <img src="img/collage.jpg" alt="">
                </div>
                <div class="h h3">
                    <h2>Colleges shortlisting and admission prediction</h2>
                    <p>Post identifying career option the next logical step is college selection. edumilestones college selection student dashboard helps the student to find the best college for them. Based on artificial intelligence and career assessment,
                        the student will also get a prediction score of admission chances for every college. Based on college selection, the student can generate additional milestones report.</p>
                </div>
            </div>
        </div>
        <section>
            <div class="featurei container">
                <div class="feature feature1">
                    <div class="hi hi2">
                        <h2>Career Library</h2>
                        <p>Complete information on 180+ career options with analysis</p>
                    </div>
                    <div class="imagee image1">
                        <img src="img/careerlibrary.jpg" alt="">
                    </div>
                </div>
                <div class="feature feature2">
                    <div class="hi hi2">
                        <h2>Career Boosters</h2>
                        <p>Avail additional offers, coupons and deals to boost your career</p>
                    </div>
                    <div class="imagee image1">
                        <img src="img/career.png" alt="">
                    </div>
                </div>
                <div class="feature feature3">
                    <div class="hi hi2">
                        <h2>Online Courses</h2>
                        <p>Get unlimited access to edumilestones exclusive courses online</p>
                    </div>
                    <div class="imagee image1">
                        <img src="img/online-course.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="text-content">
                <h1>
                    Online psychometric test for students in India
                </h1>
                <p>
                    There are 37.4 million students in India. Every year close to 2 million students give 10th board exams. Today’s young generation are tomorrow’s future. And the students’ future can only be bright when they choose the right career path, or when they get
                    career guidance at the right time. <br> <br> That’s where the psychometric test comes into picture. <br> <br> Online psychometric tests for students is the need of the hour. Every year the number of students is
                    increasing exponentially. The more the number of students, the more confusion arises. Online psychometric tests for students can help in closing this gap. <br> <br> Career counsellors use psychometric tests to analyse the personality,
                    aptitude, learning style for the students. <br> <br> Psychometric tests help give the best results for students in effective career planning. Career planning is definitely a challenging process in the students’ life. Nowadays there
                    are so many career options available. It is imperative for a student to get confused and feel directionless. With the help of online psychometric tests, the journey of the student’s life becomes smoother which aligns with the career
                    interest. <br> <br> <br>
                </p>
                <h1>
                    All you need to know about psychometric career assessment test
                </h1>
                <p>
                    Psychometric career assessment test is a diagnosis tool used to identify, explore the strengths of the candidate and find out the most suitable career path. It helps the students and professionals to understand their personality, interest, aptitude. <br>                    <br> Psychometric career assessment test is used widely by students, graduates and professionals to make informed career decisions. <br> <br> There are so many students and professionals who are confused about their career path. Psychometric
                    career assessment tests can be very beneficial for them. It can help the individuals to understand their skills and talent and guide the individual in the right direction. <br> <br> When you are not aware of what to do in your career,
                    then is the right time to take a career assessment test. When you are confused and worried about your career, then is the right time to take a career assessment test. <br> <br> The career assessment test will help you be aware of your
                    strengths and interests. <br> <br> It will give you sure shot ways on how to shape your future. Many schools use a career assessment test to determine what is suitable for the student. <br> <br> Many companies use psychometric tests
                    to determine whether the candidate is suitable for a certain role or not. <br> <br> The magnitude of the psychometric test is immense. Psychometric tests with the help of career counsellor can change the fortune of any student/professional.
                    <br> <br> <br>
                </p>
                <h1>
                    Importance of psychometric test in career counselling
                </h1>
                <p>
                    Assessing your skills is certainly an important part of your career growth. Before starting up your career you need to know what are your strengths, what are you good at, what are you interested in? These are few questions that keep revolving in our brain
                    more often. <br> <br> As you already know there are many students who are confused about their career path, professionals are stressed about their jobs. <br> <br> Career counselling with the help of a seasoned expert
                    can help you solve all your career related queries. Career assessment test is used for career guidance purposes. <br> <br> Online psychometric tests provide valuable insights of your personality, interest. The psychometric test is
                    designed specifically to address and solve your career related queries. <br> <br> The importance of psychometric tests in career counselling is immense. <br> <br> Career counsellors from all over the world use psychometric tests to
                    give career counselling to students and professionals. Psychometric tests with the help of career counsellor can change the fortune of any student/professional. <br> <br> What would you do if you are confused about your career path?
                    <br> <br> What would you do if you don’t have any idea where your life is heading? <br> <br> What would you do if you are confused whether to take Science, Commerce or Arts? <br> <br> The surest and the best answer to it is get career
                    guidance and counselling from a career counsellor. <br> <br>
                </p>
            </div>
        </section>
</body>
<section id="price-section">
    <div class="price0">
        <h1>Find out your Best Possibility</h1>
    </div>
    <div class="pricee container">
        <div class="price price1">
            <h2>Suitability Assessment</h2>
            <h1>Rs.199</h1>
            <div class="d p1d1">
                <p>5 Dimensional Career Assessment</p>
            </div>
            <div class="d p1d2">
                <p>Check your Career Suitability for One Career Option</p>
            </div>
            <div class="d p1d3">
                <p>5 Pages Free Career Analysis Report</p>
            </div>
            <div class="d p1d4">
                <p>Well researched information about career</p>
            </div>
            <div class="d p1d5">
                <p>No individual career counselling</p>
            </div>
            <div class="d p1d7 btn">
                <a href="">Start Now!</a>
            </div>
        </div>
        <div class="price price2">
            <h2>Career Assessment and Report</h2>
            <h1>Rs.1500</h1>
            <div class="d p2d1">
                <p>5 Dimensional Career Assessment</p>
            </div>
            <div class="d p2d2">
                <p>Explore and Find out most suitable career paths among 150+ Career Paths and 3000+ Occupations</p>
            </div>
            <div class="d p2d3">
                <p>30+ Pages detailed career analysis report</p>
            </div>
            <div class="d p2d4">
                <p>Detailed Execution Plan</p>
            </div>
            <div class="d p2d5">
                <p>Self search career library and Colleges Info</p>
            </div>
            <div class="d p2d6">
                <p>No Face to face career counselling</p>
            </div>
            <div class="d p2d7">
                <p>No individual career counselling</p>
            </div>
            <div class="d p2d7 btn">
                <a href="">Start Now!</a>
            </div>
            <h2> No Upfront Payment Required</h2>
        </div>
        <div class="price price3">
            <h2>Face to Face Counselling Near you</h2>
            <h1>Connect with Counsellor</h1>
            <div class="d p3d1">
                <p>5 Dimensional Career Assessment</p>
            </div>
            <div class="d p3d2">
                <p>Explore and Find out most suitable career paths among 150+ Career Paths and 3000+ Occupations</p>
            </div>
            <div class="d p3d4">
                <p>30+ Pages detailed career analysis report</p>
            </div>
            <div class="d p3d5">
                <p>Detailed Execution Plan</p>
            </div>
            <div class="d p3d6">
                <p>Well research Career Information</p>
            </div>
            <div class="d p3d7">
                <p>Book Appointment with Best career counselor for 40+ Minutes Face to Face counseling near you. More than 1800+ Career counselor across India</p>
            </div>
            <div class="d p3d8">
                <p>Individual career counselling included</p>
            </div>
            <div class="d p3d9">
                <p>Post Counselling Support Included</p>
            </div>
            <div class="d p3d10 btn">
                <a href="">Start Now!</a>
            </div>
            <h2> No Upfront Payment Required</h2>
        </div>
    </div>
</section>
<main>
    <h1>Frequently Asked Questions</h1>
    <div class="faq open">
        <div class="faq-text">
            <!--111111111111111 -->
            <h2>How to Choose the career Assessment?</h2>
            <p>We have different career assessments for different groups. It starts from 5th class to professionals. Candidate can select assessment based on your current stage. All the assessments are highly accuracy and reliabile.</p>
        </div>
    </div>
    <div class="faq">
        <div class="faq-text">
            <!--22222222222222-->
            <h2>What is five dimensional career assessment?</h2>
            <p>Our career assessment explores the 5 dimensions of the candidate. It includes, Personality analysis, Career Interest analysis, Career motivators analysis, learning style analysis and Skills & Abilities analysis.</p>
        </div>
    </div>
    <div class="faq">
        <div class="faq-text">
            <!--33333333333333-->
            <h2>What is the difference between Free suitability and comprehensive Analysis?</h2>
            <p>Both are 5 dimensional career assessment. In Free Suitability, candidate can get analysis of one career path of their choice with free 3 pages basic report. In Comprehensive plan, career analysis will be done across 160+ career paths and 2000+
                Occupations to find out the best career path for you. Comprehensive 28+ pages career report with execution plan will help you to achieve career goals.</p>
        </div>
    </div>
    <div class="faq">
        <div class="faq-text">
            <!--44444444444444-->
            <h2>Once comprehensive report is activated, can I see analysis other career paths as well?</h2>
            <p>Yes, very much. This is the biggest advantage every student is having. Once assessment is done student can generate unlimited comprehensive 28+ pages comprehensive reports of different career paths. It is important to know you most preferred
                career paths but equally it is important to know about career paths that you should avoid or develop.</p>
        </div>
    </div>
    <div class="faq">
        <div class="faq-text">
            <!--5555555555555555-->
            <h2>Do I need to give assessment once again for comprehensive analysis?</h2>
            <p>No, you do not need to give assessment again. Once assessment is done, you can upgrade any time. System will automatically analyze all career paths and generate comprehensive report. Our powerful Artificial intelligence engine will unlock
                all the career path analysis.</p>
        </div>
    </div>
    <div class="faq">
        <div class="faq-text">
            <!--666666666666666666-->
            <h2>Can I get face to face counseling near me?</h2>
            <p>Yes, definitely. We are having more than 1400+ empanelled career counselors across 48 + Locations. You can see their profiles, ratings, experience and book appointment online. No charges upfront.</p>
        </div>
    </div>
    <div class="faq">
        <div class="faq-text">
            <!--7777777777-->
            <h2>What are the charges for face to face career counselling.</h2>
            <p>We provide counseling at most affordable price without compromising on quality. However it depends on location and years of experience. Charges start from as low as INR 2000</p>
        </div>
    </div>
    <div class="faq">
        <div class="faq-text">
            <!--88888888888 -->
            <h2>How can I make the payment?</h2>
            <p>We do not charge upfront for career assessment. Post completion of the assessment, you will be connected with best career counselor near you. You can pay directly to your career counselor through cash or online payment.</p>
        </div>
    </div>
    <div class="faq">
        <div class="faq-text">
            <!--9999999999999-->
            <h2>What is the duration of the career assessment?</h2>
            <p>Comprehensive career assessment takes around 45 minutes to complete.</p>
        </div>
    </div>

</main>

</html>
